<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- Selesai AOS -->

    <!-- My fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Selesai My fotns -->

    <!-- My CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/Fashion.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/Footer.css')}}">
    <!-- Selesai CSS -->
    <!-- JS -->
    <script src="./js/Sents.js"></script>
    <!-- Selesai Js -->

    <title>PDIP</title>
  </head>
  
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
      <a class="navbar-brand" href="#" >PDIPSHOP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-link active" href="{{url_for('index')}}" >Home <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="{{url_for('Fashion')}}">Product</a>
          <a class="nav-link" href="{{url_for('Contact')}}" id="#Contact">Contact Us</a>
          <a class="btn tombol "href="{{url_for('Login')}}">LOGIN</a>
        </div>
      </div>
    </div>
    </nav>
    <!-- Selesai Navbar -->

    <!-- Jumbotron -->
    <div class="jumbotron">
      <div class="container">
        <!-- <h1 class="display-4 ml-auto"span>WELCOME<br>XUXILVIA</h1>
        <a class="button" href="">CLICK ME</a> -->
      </div>
    </div>
    <br>
    <!-- Selesai Jumbotron -->

       <!-- Baris Baru -->
       <!-- <br> -->
       <!-- Selesai Baris Baru -->

       <!-- Daftar Menu -->
       <div class="container" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
        <div class="row">
          <div class="col text-center " id="promotion">
            <h1>Baju</h1>
            <br>
          </div>
        </div>
       </div>
       <!-- Selesai Daftar Menu -->

    <!-- Cards 1 -->
    <div class="card-deck ml-5 mr-5">
      <!-- Animasi -->
      <div class="card border-warning" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
        <!-- Selesai Animasi -->
        <img class="card-img-top" src="https://images.tokopedia.net/img/cache/900/VqbcmM/2020/10/15/8ded4ea7-2723-49ab-a6dc-678b905ae89a.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Regular Shirt </h5>
          <p class="card-text text-justify">Bahan adem, anti luntur</p>
        </div>
        <div class="card-footer">
          <a class="button mb-2" href="#!">Rp 199.000,00 /Pcs</a>
        </div>
      </div>
       <!-- Animasi -->
      <div class="card border-warning" data-aos="fade-up"data-aos-anchor-placement="center-bottom" data-aos-duration="1000">
        <!-- Selesai Animasi -->
        <img class="card-img-top" src="https://images.tokopedia.net/img/cache/900/product-1/2020/8/25/6209012/6209012_04d00b18-6403-4559-ac61-faafef93f008_1080_1080.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Premium Banteng melihat mu</h5>
          <p class="card-text text-justify">tatapan nya lebih seram daripada DC</p>
        </div>
        <div class="card-footer">
        <a class="button mb-2" href="">Rp 159.000,00 /Package</a>
        </div>
      </div>
       <!-- Animasi -->
      <div class="card border-warning" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
        <!-- Selesai Animasi -->
        <img class="card-img-top" src="https://images.tokopedia.net/img/cache/900/VqbcmM/2022/11/12/76f241d1-fe78-4689-a024-3e516dbdc8eb.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Long Sleeve PDIP</h5>
          <p class="card-text text-justify">Cocok untuk olahraga malam </p>
        </div>
        <div class="card-footer">
          <a class="button mb-2" href="#ordernow">Rp 199.000,00 /Package</a>
        </div>
      </div>
    </div>
    <br>
    <!-- Selesai Cards 1 -->
   
    <!-- Baris Baru -->
    <br>

    <!-- Selesai Baris Baru -->
    <br>
     <!-- Daftar Menu -->
     <div class="container mt-4">
      <div class="row">
        <div class="col text-center " id="promotion">
          <h1>Akesesoris</h1>
          <br>
        </div>
      </div>
     </div>
     <!-- Selesai Daftar Menu -->

    <!-- Menu Cards 2 -->
    <!-- Cards 2 -->
    <div class="card-deck ml-5 mr-5">
      <div class="card border-warning" data-aos="zoom-out-left" data-aos-duration="1000">
        <img class="card-img-top" src="https://images.tokopedia.net/img/cache/900/VqbcmM/2022/9/16/81b7bd91-2213-45e4-a381-f296b059c887.jpg" alt="Card image cap"> 
        <div class="card-body">
          <h5 class="card-title">Topi PDIP</h5>
          <p class="card-text text-justify">Topi Banteng</p>
        </div>
        <div class="card-footer">
          <a class="button mb-2" href="#ordernow">Rp 109.000,00 /Package</a>
        </div>
      </div>
      <div class="card border-warning"data-aos="fade-up"data-aos-duration="1000"="center-center" data-aos-duration="1000">
        <img class="card-img-top" src="https://images.tokopedia.net/img/cache/900/VqbcmM/2022/4/15/4ec09cf1-d614-4056-81c3-000e095d285d.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Emblem PDIP</h5>
          <p class="card-text text-justify">Emblem Banteng anti sruduk partai lain</p>
        </div>
        <div class="card-footer">
          <a class="button mb-2" href="#ordernow">Rp 19.000,00 /Package</a>
        </div>
      </div>
      <div class="card border-warning"  data-aos="zoom-out-right" data-aos-duration="3000">
        <img class="card-img-top" src="https://images.tokopedia.net/img/cache/900/product-1/2018/9/27/23524677/23524677_9148c5c5-1dc9-4ae3-a7b5-0af1ca1d4ed1_887_887.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Jam tangan</h5>
          <p class="card-text text-justify">Bisa Jadi Banteng</p>
        </div>
        <div class="card-footer">
          <a class="button mb-2" href="#ordernow">Rp 699.000,00 /Package</a>
        </div>
      </div>
    </div>
    <!-- Selesai Cards 2 -->

    <!-- Baris Baru -->
    <br>
    <!-- Selesai Baris Baru -->

    <!-- Contactus -->
       <!--Alert-->
       <div class="alert alert-success alert-dismissible fade show d-none my-alert" role="alert">
        <strong>Terima kasih!</strong> Orderan anda telah kami terima.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <!-- end alert -->
      
      <!-- Form pesan -->
       <form name="xuxi-contact-order" id="ordernow">
       <h2 class="mt-5 mr-4 text-center Hubungi" id="review">Order Now</h2>
       <br>
       <div class="psn">
         <div class="row ml-3 mr-4">
           <!-- Foto contact US -->
          <div class="col-lg ml-4 mb-4 mt-4">
            <img src="img/Shushi time.png" alt="" class="img-fluid">
          <br>
          </div>
          <!-- Selesai Foto Contact us -->
           <div class="col-md-7">
             <!--Contain Nama-->
             <div class="form-group">
               <label><strong>Nama</strong></label>
               <input type="text" name="Nama" class="form-control" placeholder="Nama" required>
             </div>
             <!-- End Contain Nama-->
             
             <!--No handphone-->
             <div class="form-group">
               <label><strong>No Handphone</strong></label>
               <input type="No-Handphone" name="Handphone" class="form-control" placeholder="No-Handphone" required>
             </div>
             <!--End No handphone-->

             <!-- email -->
             <div class="form-group">
              <label><strong> E-mail</strong></label>
              <input type="E-mail" name="E-mail" class="form-control" placeholder="E-mail" required>
            </div>
             <!-- Selesai email -->
             
             <!--Pesan-->
             <div class="form-group" id="pesan">
               <label><strong>Alamat</strong></label>
               <textarea type="text" class="form-control" rows="5" placeholder="Tuliskan alamat..." name="Alamat" required></textarea>
             </div>
             <!--End Pesan-->
             <!--Jumlah-->
             <div class="form-group" id="pesan">
              <label><strong>Jumlah Pesanan</strong></label>
              <textarea type="text" class="form-control" rows="1" placeholder="Masukan Jumlah Pesanan..." name="Jumlah" required></textarea>
            </div>
             <!-- Selesai Jumlah pesanan-->

             <!-- Jenis Paket -->
             <div class="form-group" id="pesan">
              <label><strong>Jenis Paket</strong></label>
              <textarea type="text" class="form-control" rows="1" placeholder="Jenis Paket Ex Royale,Premium,Regular..." name="Jenispaket" required></textarea>
            </div>
             <!-- Selesai Jenis Paket -->
              <!--Paket-->
              <div class="form-group" id="pesan">
                <label><strong>Paket Pesanan</strong></label>
                <textarea type="text" class="form-control" rows="1" placeholder="Paket Pesanan..." name="Paket" required></textarea>
              </div>
               <!--  Visa Card -->
               <div class="form-group" id="pesan">
                <label><strong>Card Number</strong></label>
                <textarea type="text" class="form-control" rows="1" placeholder="Ex 567XXXXXX " name="CardNumber" required></textarea>
              </div>
               <!-- Selesai Visa Card -->
             <!-- Butoon kirim -->
             <button type="submit" class="btn btn-primary btn-kirim" onclick="pesan()">Kirim</button>

             <button class="btn btn-primary btn-loading d-none" type="button" disabled>
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
              Loading...
            </button>
                 <!-- Selesai Butoon kirim -->
           </div>
         </div>
         <br>
       </div>
      </form>
    <br>
    <!-- Selesai Contact US -->

    <!-- Footer -->
  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>company</h4>
  	 			<ul>
  	 				<li><a href="#" id="home">Home</a></li>
  	 				<li><a href="#">our services</a></li>
  	 				<li><a href="#">privacy policy</a></li>
  	 				<li><a href="#">affiliate program</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>get help</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">shipping</a></li>
  	 				<li><a href="#">returns</a></li>
  	 				<li><a href="#">order status</a></li>
  	 				<li><a href="#">payment options</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>online shop</h4>
  	 			<ul>
  	 				<li><a href="#">watch</a></li>
  	 				<li><a href="#">bag</a></li>
  	 				<li><a href="#">shoes</a></li>
  	 				<li><a href="#">dress</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>
    <!-- Selesai Footer -->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script> -->
    <script src="./js/jquery-3.6.0.min.js"></script>
     <!-- Scrip form pesan -->
     <script>
      const scriptURL = 'https://script.google.com/macros/s/AKfycbwhcn5UOTlPZbKe5ugt5jMyqeo_KeKYkOxcmginzwWnGMYdlCzYeT9m8h2nKkB2h-RoVQ/exec';
      const form = document.forms['xuxi-contact-order'];
      const btnKirim = document.querySelector('.btn-kirim');
      const btnLoading = document.querySelector('.btn-loading');
      const myAlert = document.querySelector('.my-alert');
    
      form.addEventListener('submit', e => {
         e.preventDefault()

        //1. Jadi ketika tombol submit di klick
        //2. tampilkan tombol loading , dan hilangkan tombol kirim
        btnLoading.classList.toggle('d-none');
        btnKirim.classList.toggle('d-none');
        fetch(scriptURL, { method: 'POST', body: new FormData(form)})
          .then(response => {
            // ketika tampilkan tombol kirim , dan hilangkan tombol loading
            btnLoading.classList.toggle('d-none');
            btnKirim.classList.toggle('d-none');
            //tampilkan Alert 
            myAlert.classList.toggle('d-none');
            //reset Form pesan
            form.reset();
            console.log('Success!', response)})
          .catch(error => console.error('Error!', error.message))
      })
    </script>
    <!-- End script pesan  -->

    <!-- Script AOS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <!-- Selesai AOS -->
  </body>
</html>